In [262]:
import pandas as pd
import json
import datetime

### Import Data and Mapping File

In [451]:
with open("../data/mapping/attration.json", "r") as file:
    mapping = json.load(file)

df = pd.read_excel("../data/attractions/Location-Import.xlsx", sheet_name="Landmark")
df.head(5)

   LPNumber         LandmarkType DesignationDate                        Id
0  LP-02185  Individual Landmark      2006-04-18  646841c99e866c1d68eb5710
1  LP-02186  Individual Landmark      2006-04-18  646808f39e866c1d68eb56fc
2  LP-02188  Individual Landmark      2006-06-20  64794de4426b0f007933dd03
3  LP-02189  Individual Landmark      2006-03-14  6477aee6426b0f007933dce8
4  LP-02190  Individual Landmark      2006-06-13  648fcf2913f51e5a4696f23d

#### Clean Dataframe

In [452]:
def clean_dataframe(df):
    """
    Cleans the DataFrame based on a set of defined rules.

    Args:
    - df (pd.DataFrame): The DataFrame to clean.

    Returns:
    - pd.DataFrame: The cleaned DataFrame.
    """
    # Rule 1: Trim leading and trailing whitespace from all string values
    df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
        
    return df

# Use the function
df = clean_dataframe(df)

### Validate Data

In [453]:
import re

def validate_dataframe(df, mapping):
    """
    Validates the DataFrame based on the given mapping.

    Args:
    - df (pd.DataFrame): The DataFrame containing the data.
    - mapping (dict): The mapping containing validation rules.

    Returns:
    - dict: A dictionary with keys as column names and values as lists of invalid entries for that column.
    """
    validation_errors = {}

    # TODO: Add more validation rules as needed based on the mapping
    for field, rules in mapping.items():
        # Check if the field is present in the DataFrame
        if rules.get('column') in df.columns:
            column_name = rules['column']
            # Validate based on string pattern
            if rules.get('type') == 'string' and rules.get('validation') and 'pattern' in rules['validation']:
                pattern = re.compile(rules['validation']['pattern'])
                invalid_values = [value for value in df[column_name] if not pattern.match(str(value))]
                if invalid_values:
                    validation_errors[column_name] = invalid_values

    return validation_errors


# Validate the dataframe
errors = validate_dataframe(df, mapping)

# Display validation errors
for column, invalid_values in errors.items():
    print(f"Invalid values for {column}: {invalid_values}")

# Display first 5 rows of the dataframe
df.head(5)

   LPNumber         LandmarkType DesignationDate                        Id
0  LP-02185  Individual Landmark      2006-04-18  646841c99e866c1d68eb5710
1  LP-02186  Individual Landmark      2006-04-18  646808f39e866c1d68eb56fc
2  LP-02188  Individual Landmark      2006-06-20  64794de4426b0f007933dd03
3  LP-02189  Individual Landmark      2006-03-14  6477aee6426b0f007933dce8
4  LP-02190  Individual Landmark      2006-06-13  648fcf2913f51e5a4696f23d

In [454]:
import datetime

def process_dataframe_based_on_mapping(df, mapping):
    output = []

    for _, row in df.iterrows():
        record = {}
        for key, value in mapping.items():
            if isinstance(value, dict) and "column" in value:
                column_name = value["column"]
                if column_name in df.columns:
                    if "documentField" in value:
                        doc_field = value["documentField"]
                        if isinstance(row[column_name], pd.Timestamp):
                            # Special handling for date columns to represent in MongoDB Extended JSON format
                            date_str = row[column_name].strftime('%Y-%m-%dT%H:%M:%S')
                            record[doc_field] = {"$date": date_str}
                        else:
                            record[doc_field] = row[column_name]
        output.append(record)

    return output

result = process_dataframe_based_on_mapping(df, mapping)

current_datetime = datetime.datetime.now().strftime('%Y_%m_%d_%H_%M_%S')
output_path = f"../data/attractions/Location-Import_{current_datetime}.json"

with open(output_path, "w") as file:
    json.dump(result, file, indent=4)

print(output_path)

../data/attractions/Location-Import_2023_09_30_23_17_10.json

In [ ]:
print(json.dumps(result, indent=4))